In [1]:
source("../aquamonitR.R")

# The new functionality requires using the AM dev/test site
host <- "https://test-aquamonitor.niva.no/"

# Query project-specific water chemistry data using the Aquamonitor API from R

`aquamonitR` is a translation of [Aquamonitor-Python](https://github.com/NIVANorge/Aquamonitor-Python) to R.

## 1. Login

In [2]:
# Login to AM
token <- login()

Username:  ···
Password:  ··············

## 2. List projects

The `get_projects` function returns a list of all projects in the database. You can search this dataframe to identify the correct project ID for the project you are interested in.

In [3]:
proj_df <- get_projects(token = token)
print(paste(nrow(proj_df), "projects in the database.", sep = " "))
head(proj_df)

[1] "1300 projects in the database."

  ProjectId ProjectCode ProjectName     Description
1  1        NA          xxx             NA
2 55        NA          PARCOM_Aquateam NA
3 56        NA          PARCOM_NIVA     NA
4 58        NA          MAR_BOK         Fagdata
5 59        NA          MAR_IMA         Fagdata
6 60        NA          MAR_JOK         Fagdata

In [4]:
# Find the project code for the 2019 '1000 Lakes' survey
subset(proj_df, grepl("Nasjonal", ProjectName))

     ProjectId ProjectCode ProjectName
1202 12433     190091      Nasjonal Innsjøundersøkelse 2019
     Description
1202 1000-sjøer undersøkelse gjennomført i 2019

## 3. Get stations in project

Use `get_project_stations` to get a list of all stations associated with your project of interest.

**To do:** It would be great if this API endpoint could also return the geographic co-ordinates (lat/lon) for each station. At present, I think this can only be achieved by iterating over the `api/projects/{proj_id}/stations/{stn_id}/samplePoint` endpoint for each station, which is slow.

In [5]:
# Project of interest
proj_id <- 12433

stn_df <- get_project_stations(proj_id, token = token)
print(paste(nrow(stn_df), "stations in project.", sep = " "))
head(stn_df)

[1] "1003 stations in project."

  ProjectId StationId StationCode StationName       Type
1 12433     26104     1037-1-1    Lisle Frøysvatnet Innsjø
2 12433     26105     1046-1-23   Bergetjørni       Innsjø
3 12433     26106     1114-1-20   Skjelbreidtjørni  Innsjø
4 12433     26107     1114-1-34   Lomstjørni        Innsjø
5 12433     26108     1122-1-9    Kråtjørni         Innsjø
6 12433     26109     1129-1-13   Tvaravatnet       Innsjø

## 4. Get water chemistry

Use `get_project_chemistry` to extract all the water chemistry data for your project and time period of of interest.

In [6]:
# Period of interest
st_dt <- "01.01.2019"
end_dt <- "31.12.2019"

df <- get_project_chemistry(proj_id, st_dt, end_dt, token = token, approved = TRUE)
head(df)

  ProjectId ProjectName                      StationId StationCode
1 12433     Nasjonal Innsjøundersøkelse 2019 71725     1432-2-205
2 12433     Nasjonal Innsjøundersøkelse 2019 71719     623-603
3 12433     Nasjonal Innsjøundersøkelse 2019 45862     1037-19
4 12433     Nasjonal Innsjøundersøkelse 2019 37922     1622-1-5
5 12433     Nasjonal Innsjøundersøkelse 2019 27063     1811-1-22
6 12433     Nasjonal Innsjøundersøkelse 2019 27056     1266-2-11
  StationName      SampleDate Depth1 Depth2 ParameterName         Flag Value
1 Femtevatnet      2019-10-02 NA     NA     Aluminium, ikke labil <     5
2 Breidlivatnet    2019-10-28 NA     NA     Aluminium, ikke labil NA   97
3 Fjotlandsvatnet  2019-10-30 NA     NA     Aluminium, ikke labil NA   98
4 Nedre Hanstjørna 2019-10-09 NA     NA     Aluminium, ikke labil NA   84
5 HOH 674          2019-09-26 NA     NA     Aluminium, ikke labil NA    7
6 Harekupvatnet    2019-10-17 NA     NA     Aluminium, ikke labil NA    7
  Unit   Approved
1 UG_P_L TRUE
2 UG_P_L TRUE
3 UG_P_L TRUE
4 UG_P_L TRUE
5 UG_P_L TRUE
6 UG_P_L TRUE