In [1]:
library("aquamonitR")

# Query project-specific water chemistry data using the Aquamonitor API from R

`aquamonitR` is a translation of [Aquamonitor-Python](https://github.com/NIVANorge/Aquamonitor-Python) to R.

## 1. Login

In [2]:
# Login to AM
token <- login()

Username: ···
Password: ··············

## 2. List projects

The `get_projects` function returns a list of all projects in the database. You can search this dataframe to identify the correct project ID for the project you are interested in.

In [3]:
proj_df <- get_projects(token = token)
paste0(nrow(proj_df), " projects in the database.")
head(proj_df)

[1] "1334 projects in the database."

  project_id project_code project_name    description
1  1         NA           xxx             NA
2 55         NA           PARCOM_Aquateam NA
3 56         NA           PARCOM_NIVA     NA
4 58         NA           MAR_BOK         Fagdata
5 59         NA           MAR_IMA         Fagdata
6 60         NA           MAR_JOK         Fagdata

In [4]:
# Find the project code for the 2019 '1000 Lakes' survey
subset(proj_df, grepl("Nasjonal", project_name))

     project_id project_code project_name
1202 12433      190091       Nasjonal Innsjøundersøkelse 2019
     description
1202 1000-sjøer undersøkelse gjennomført i 2019

## 3. Get stations in project

Use `get_project_stations` to get a list of all stations associated with your project of interest.

**To do:** It would be great if this API endpoint could also return the geographic co-ordinates (lat/lon) for each station. At present, I think this can only be achieved by iterating over the `api/projects/{proj_id}/stations/{stn_id}/samplePoint` endpoint for each station, which is slow.

In [5]:
# Project of interest
proj_id <- 12433

stn_df <- get_project_stations(proj_id, token = token)
paste0(nrow(stn_df), " stations in project.")
head(stn_df)

[1] "1003 stations in project."

  project_id station_id station_code station_name      type
1 12433      26104      1037-1-1     Lisle Frøysvatnet Innsjø
2 12433      26105      1046-1-23    Bergetjørni       Innsjø
3 12433      26106      1114-1-20    Skjelbreidtjørni  Innsjø
4 12433      26107      1114-1-34    Lomstjørni        Innsjø
5 12433      26108      1122-1-9     Kråtjørni         Innsjø
6 12433      26109      1129-1-13    Tvaravatnet       Innsjø

## 4. Get water chemistry

Use `get_project_chemistry` to extract all the water chemistry data for your project and time period of of interest.

In [6]:
# Period of interest
st_dt <- "01.01.2019"
end_dt <- "31.12.2019"

df <- get_project_chemistry(proj_id, st_dt, end_dt, token = token)
head(df)

  project_id project_name                     station_id station_code
1 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
2 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
3 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
4 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
5 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
6 12433      Nasjonal Innsjøundersøkelse 2019 71716      128-2-200
  station_name sample_date depth1 depth2 parameter_name flag value   unit
1 Langevatnet  2019-10-25  0      0      Cl             NA     4.140 mg/L
2 Langevatnet  2019-10-25  0      0      Cd             NA     0.039 µg/l
3 Langevatnet  2019-10-25  0      0      Fe             NA   830.000 µg/l
4 Langevatnet  2019-10-25  0      0      Mn             NA    19.000 µg/l
5 Langevatnet  2019-10-25  0      0      Co             NA     0.760 µg/L
6 Langevatnet  2019-10-25  0      0      NO3+NO2-N      NA    46.000 µg/l